<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="'container">
    {% block content %}

    <h1>{{ title }} is working</h1>

    {% for obj in object_list %}
    /posts/id/
    <!--<a href='/posts/{{ obj.id }}/'>{{ obj.title }}</a><br/> previous version without use name url-->
    {% url "posts:detail" id=obj.id %}
    <a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br/>
    {{ obj.content }}<br/>
    {{ obj.timestamp }}<br/>
    {{ obj.updated}}<br/>
    <br/>
    {% endfor %}




    {% endblock content %}
</div>

</body>
</html>