<!DOCTYPE html>
<html>

<head>
    {% block head %} {% endblock %}
</head>

<body>
<h1>{{ title }} is working</h1>

{% for obj in object_list %}
/posts/id/
<!--<a href='/posts/{{ obj.id }}/'>{{ obj.title }}</a><br/> previous version without use name url-->
{% url "posts:detail" id=obj.id %}
<a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br/>
{{ obj.content }}<br/>
{{ obj.timestamp }}<br/>
{{ obj.updated}}<br/>
<br/>
{% endfor %}
{% block body %}{% endblock %}
</body>


<footer>

    {% block footer %}{% endblock %}
</footer>

</html>
